__pycache__/
*.py[cod]

.env
.env.*
!.env.example
.venv/
venv/

logs/*.log
logs/*.log.*

.matplotlib/

models/*.html
models/*.h5
models/*.keras
models/*.pkl

.pytest_cache/

mlruns/
airflow_home/
kafka-logs/
*.db
