pandas
numpy
streamlit
scikit-learn
scipy
prophet
matplotlib
statsmodels
plotly
fastapi
uvicorn
sqlalchemy
psycopg2-binary
folium
pyyaml
python-dotenv
requests
prometheus-client
groq
httpx
# RAG dependencies
chromadb
sentence-transformers
pypdf
protobuf==3.20.3
